* {
    box-sizing: border-box;
}

/* .primaryStatContainer {
    /* width: 99%; */
/* } */

.p-card-content {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.primaryStat {
    margin: 0% 0.5%;
    width: 15%;
    height: 7%;
    background-color: olive;
}

.primaryStat p {
    margin: 0;
    font-size: 48px;
}

.requestsErrorsChartContainer {
    width: 80%;
    /* height: 500px; */
    background-color: bisque;

}

.requestsErrorsChart {
    /* width: 30%; */
    /* height: fit-content; */
}